---
import Base from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ProofStrip from '../components/ProofStrip.astro';
import Tasting from '../components/Tasting.astro';
import Cocktails from '../components/Cocktails.astro';
import WhereToBuy from '../components/WhereToBuy.astro';
import OtherProducts from '../components/OtherProducts.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
---
<Base>
  <Header />
  <main id="main">
    <Hero />
    <ProofStrip />
    <Tasting />
    <Cocktails />
    <WhereToBuy />
    <OtherProducts />
    <Faq />
  </main>
  <Footer />
</Base>
