---
import Base from '../../layouts/Base.astro';
import Header from '../../components/Header.astro';
import StoreLocator from '../../components/StoreLocator.astro';
import Footer from '../../components/Footer.astro';
---
<Base>
  <Header />
  <main id="main">
    <StoreLocator />
  </main>
  <Footer />
</Base>
